<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress HtmlPresentationalElement -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}+'/'"/>
    <title>Crown - premium responsive admin template for backend systems</title>
    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/spinner/ui.spinner.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/spinner/jquery.mousewheel.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/uniform.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.cleditor.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.validationEngine-en.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.validationEngine.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.tagsinput.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/autogrowtextarea.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.maskedinput.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.dualListBox.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.inputlimiter.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/chosen.jquery.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.form.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.form.wizard.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/datatable.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/tablesort.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/resizable.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.tipsy.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.collapsible.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.prettyPhoto.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.progress.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.timeentry.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.colorpicker.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.jgrowl.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.breadcrumbs.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.sourcerer.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/calendar.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/elfinder.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/custom.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/charts/chart.js}"></script>
    <!-- Shared on MafiaShare.net  --><!-- Shared on MafiaShare.net  --></head>
<body>
<!--包含左侧边框-->
<div th:include="background/common/common::navigation_left(${''},${''})"></div>
<div id="rightSide">
    <!-- Top fixed navigation -->
    <div th:include="background/common/common::navigation_top"></div>
    <div class="wrapper"></div>
    <!-- Footer line -->
    <div th:include="background/common/common::footer"></div>
</div>
<div class="clear"></div>
</body>
</html>