<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册</title>
</head>
<body>
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<div class="loginError" th:text="${error}"></div>
<form method="post">
    <table>
        <thead>
        <tr>
            <td colspan="2"><h2>用户注册</h2></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>用户名：</td>
            <td><input name="userName" title="userName"/></td>
        </tr>
        <tr>
            <td>密　码：</td>
            <td><input type="password" name="password" title="userName"/></td>
        </tr>
        <tr>
            <td>密码确认：</td>
            <td><input type="password" name="password2" title="userName"/></td>
        </tr>
        <tr>
            <td>淘宝ID：</td>
            <td><input name="taoBaoId" title="userName"/></td>
        </tr>
        <tr>
            <td>E-mail：</td>
            <td><input type="email" name="email" title="userName"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="提交"/><br/>
                <input type="reset" value="重置"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>