<!--<html xmlns:th="http://www.thymeleaf.org">-->
<div id="leftSide" xmlns:th="http://www.thymeleaf.org">
    <div class="logo"><a th:href="@{index.html}">
        <img src="" th:src="@{images/logo.png}" alt=""/></a></div>
    <!-- Next update progress widget -->
    <div class="nextUpdate">
        <ul>
            <li>Next update in:</li>
            <li>23 hrs 14 min</li>
        </ul>
        <div class="pWrapper">
            <div class="progressG" title="78%"></div>
        </div>
    </div>
    <div class="sidebarSep"></div>
    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="forms"><a href="#" title="" class="active exp" id="current"><span>明信片</span><strong>4</strong></a>
            <ul class="sub" style="display: block">
                <li>
                    <a th:href="@{postcard/tailor}">裁切明信片</a>
                </li>
                <li class="this">
                    <a th:href="@{postcard/show}">查看明信片</a>
                </li>
                <li>
                    <a th:href="@{postcard/print}">打印明信片</a>
                </li>
            </ul>
        </li>
        <li class="ui"><a th:href="@{ui_elements.html}" title=""><span>Interface elements</span></a></li>
        <li class="tables"><a th:href="@{tables.html}" title="" class="exp"><span>Tables</span><strong>3</strong></a>
            <ul class="sub">
                <li><a th:href="@{table_static.html}" title="">Static tables</a></li>
                <li><a th:href="@{table_dynamic.html}" title="">Dynamic table</a></li>
                <li class="last"><a th:href="@{table_sortable_resizable.html}" title="">Sortable &amp; resizable tables</a></li>
            </ul>
        </li>
        <li class="widgets"><a href="#" title="" class="exp"><span>Widgets and grid</span><strong>2</strong></a>
            <ul class="sub">
                <li><a th:href="@{widgets.html}" title="">Widgets</a></li>
                <li class="last"><a th:href="@{grid.html}" title="">Grid</a></li>
            </ul>
        </li>
        <li class="errors"><a href="#" title="" class="exp"><span>Error pages</span><strong>6</strong></a>
            <ul class="sub">
                <li><a th:href="@{403.html}" title="">403 page</a></li>
                <li><a th:href="@{404.html}" title="">404 page</a></li>
                <li><a th:href="@{405.html}" title="">405 page</a></li>
                <li><a th:href="@{500.html}" title="">500 page</a></li>
                <li><a th:href="@{503.html}" title="">503 page</a></li>
                <li class="last"><a th:href="@{offline.html}" title="">Website is offline</a></li>
            </ul>
        </li>
        <li class="files"><a th:href="@{file_manager.html}" title=""><span>File manager</span></a></li>
        <li class="typo"><a href="#" title="" class="exp"><span>Other pages</span><strong>3</strong></a>
            <ul class="sub">
                <li><a th:href="@{typography.html}" title="">Typography</a></li>
                <li><a th:href="@{calendar.html}" title="">Calendar</a></li>
                <li class="last"><a th:href="@{gallery.html}" title="">Gallery</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--</html>-->