<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()+'/'}"/>
    <title>欢迎页面</title>
</head>
<body>
<div>欢迎使用</div>
<p shiro:guest="">你是游客</p>
<p shiro:user="">
    你是用户
    <shiro:principal/>
    你好啊

</p>
<a th:href="@{/background}">跳转到后台</a>
</body>
</html>