<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}+'/'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>控制台页面</title>
    <link rel="stylesheet" th:href="@{css/style.default.css}" type="text/css"/>
    <!--/*@thymesVar id="user" type="com.soho.inko.database.entity.UserEntity"*/-->
    <link rel="stylesheet" th:href="@{'css/style.'+${user.skin}+'.css'}" type="text/css"/>
    <script type="text/javascript" th:src="@{js/plugins/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery-ui-1.8.16.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.uniform.min.js}"></script>


    <!--<script type="text/javascript" th:src="@{js/plugins/jquery.dataTables.min.js}"></script>-->
    <script type="text/javascript" th:src="@{js/plugins/dataTable/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{js/custom/general.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var tokenId = [[${tokenId}]];
        console.log(tokenId);
        /**
         * 更新订单状态
         *
         * @param object 下拉框对象
         */
        function changeOrderStatus(object) {
            console.log("==========================================");
            var orderId = $(object).attr('orderId');

            if (orderId != '') {
                console.log(orderId);
                $.ajax({
                    url: 'order/' + $(object).attr('orderId') + '/changeStatus',
                    type: 'put',
                    data: {
                        orderStatusEnum: $(object).attr('value')
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.code == 200) {
                            $(object).parent('td').attr('class', 'gradeX orderStatus_' + $(object).attr('value').toString().toLowerCase());
                        } else {
                            //重新加载窗口
                            window.location.reload();
                        }
                        //更新状态颜色
                    },
                    error: function (result) {
                        console.log(result)
                    }
                });
            }
        }

        $(function () {

            /*******************************************************
             *
             * 订单表格属性设置
             *
             *******************************************************/
            $('#dyntable').dataTable({
                autoWidth: false,
                language: {
                    lengthMenu: "每页 _MENU_ 条记录",
                    zeroRecords: " ",
                    info: "当前 _START_ 条到 _END_ 条 共 _TOTAL_ 条",
                    infoEmpty: "无记录",
                    infoFiltered: "(从 _MAX_ 条记录过滤)",
                    search: "关键字查询 ",
                    processing: "载入中",
                    paginate: {
                        first: "首页",
                        previous: "上一页",
                        next: "下一页",
                        last: "尾页"
                    }
                },
                paging: true,
                pagingType: 'full_numbers',
//                ordering: false,
                info: true
            })
                .on('page.dt', function () {
                    console.log("数据更新了");
                    /*******************************************************
                     *
                     * 修改状态操作
                     *
                     *******************************************************/
                    $('.orderStatusChoose').on('change', function () {

                    })
                });
        });
    </script>

</head>

<body class="withvernav">
<div class="bodywrapper">

    <!--
    =================================================================================
    =   从公共模板中获取顶部信息，参数：1：是否为错误页面，错误页面下面会有一条红线
    =================================================================================
    -->
    <div th:include="background/common/common::navigation_top(${'false'})"></div>
    <!--
    =================================================================================
    =   从公共模板中获主菜单信息，参数：1：主菜单名称
    =================================================================================
    -->
    <div th:include="background/common/common::navigation_mainMenu(${'订单中心'})"></div>
    <!--
    =================================================================================
    =   从公共模板中获取左侧边框信息
    =================================================================================
    -->
    <div th:include="background/common/common::navigation_left(${'订单管理'},${'所有订单'})"></div>


    <div class="centercontent">

        <div class="pageheader">
            <h1 class="pagetitle">明信片订单列表</h1>
            <span class="pagedesc">所有的明信片订单信息</span>
            <ul class="hornav">
                <li class="current">
                    <a href="#orders">最新更新</a>
                </li>
            </ul>
        </div>

        <div id="contentwrapper" class="contentwrapper">
            <!--订单明细选项卡-->
            <div id="orders" class="subcontent">
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablecb" id="dyntable">
                    <colgroup>
                        <col class="con0" style="width: 100px"/>
                        <col class="con1" style="width: 200px"/>
                        <col class="con1"/>
                        <col class="con0" style="width: 150px"/>
                        <col class="con0" style="width: 150px"/>
                        <col class="con1" style="width: 100px"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="head0">序号</th>
                        <th class="head1">订单号</th>
                        <th class="head0">客户淘宝ID</th>
                        <th class="head1">创建时间</th>
                        <th class="head0">当前状态</th>
                        <th class="head0">相关操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="orders" type="java.util.ArrayList<com.soho.inko.database.entity.OrderEntity>"*/-->
                    <tr th:class="gradeX" th:each="order,orderStat : ${orders}">
                        <td th:text="${orderStat.index}"></td>
                        <td><a th:href="@{'order/'+${order.id}}" th:text="${order.id}"></a></td>
                        <td th:text="${order.customerTaobaoId}"></td>
                        <td th:text="${#dates.format(order.createDate, 'yyyy-MM-dd HH:mm:ss')}" class="center"></td>
                        <td th:class="'orderStatus_'+${order.orderStatus.name().toLowerCase()}"><!--<td th:text="${order.orderStatus.desc}">-->
                            <select class="orderStatusChoose" th:attr="orderId=${order.id}" title="订单状态" onchange="changeOrderStatus(this)">
                                <!--订单状态枚举值-->
                                <!--suppress ThymeleafVariablesResolveInspection -->
                                <option th:selected="${order.orderStatus==state}?'true':'false'"
                                        th:each="state : ${T(com.soho.inko.database.constant.OrderStatusEnum).values()}"
                                        th:value="${state}"
                                        th:text="${state.desc}">
                                </option>
                            </select>
                        </td>
                        <td class="center">
                            <a href="javascript:void(0)" th:class="orderDeleteButton" th:attr="orderId=${order.id}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div><!-- #updates -->

            <div id="activities" class="subcontent" style="display: none;">
                &nbsp;
            </div><!-- #activities -->

        </div><!--contentwrapper-->

        <br clear="all"/>

    </div><!-- centercontent -->

</div><!--bodywrapper-->

</body>
</html>
