<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress HtmlPresentationalElement -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}+'/'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>创建新的订单</title>
    <link rel="stylesheet" th:href="@{css/style.default.css}" type="text/css"/>
    <!--/*@thymesVar id="user" type="com.soho.inko.database.entity.UserEntity"*/-->
    <link rel="stylesheet" th:href="@{'css/style.'+${user.skin}+'.css'}" type="text/css"/>
    <script type="text/javascript" th:src="@{js/plugins/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery-ui-1.8.16.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.uniform.min.js}"></script>

    <!--<script type="text/javascript" th:src="@{js/plugins/jquery.dataTables.min.js}"></script>-->
    <script type="text/javascript" th:src="@{js/plugins/dataTable/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{js/custom/general.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var tokenId = [[${tokenId}]];
        console.log(tokenId);

        $(function () {
            $("#orderCreateForm").validate({
                rules: {
                    taobaoOrderId: "required",
                    orderStatus: "required",
                    customerTaobaoId: "required",
                    postCardCount: {
                        required: true,
                        number: true
                    }
                },
                messages: {
                    taobaoOrderId: {
                        required: "请输入淘宝订单ID"
                    },
                    orderStatus: {
                        required: "请选择订单状态"
                    },
                    customerTaobaoId: {
                        required: "请输入客户淘宝ID"
                    },
                    postCardCount: {
                        required: '请输入客户订购的总张数',
                        number: '请输入合法的数字'
                    }
//                    location: "Please enter your location"
                }
            });

//            $('input[name="orderStatus"]').on('click', function () {
//                $('#orderStatusChoose').find('span').removeClass('checked');
//                $(this).parent('span').addClass('checked');
//            })

        })
    </script>

</head>

<body class="withvernav">
<div class="bodywrapper">

    <!--
    =================================================================================
    =   从公共模板中获取顶部信息，参数：1：是否为错误页面，错误页面下面会有一条红线
    =================================================================================
    -->
    <div th:include="background/common/common::navigation_top(${'false'})"></div>
    <!--
    =================================================================================
    =   从公共模板中获主菜单信息，参数：1：主菜单名称
    =================================================================================
    -->
    <div th:include="background/common/common::navigation_mainMenu(${'订单中心'})"></div>
    <!--
    =================================================================================
    =   从公共模板中获取左侧边框信息
    =================================================================================
    -->
    <div th:include="background/common/common::navigation_left(${'订单管理'},${'所有订单'})"></div>


    <div class="centercontent">


        <div class="pageheader">
            <h1 class="pagetitle">创建新的订单</h1>
            <span class="pagedesc">创建新的订单</span>
            <ul class="hornav">
                <li class="current">
                    <a href="#newOrderCard">新的订单</a>
                </li>
            </ul>
        </div>

        <div id="contentwrapper" class="contentwrapper">

            <!--订单明细选项卡-->
            <div id="newOrderCard" class="subcontent">
                <div class="stdform">


                    <form id="orderCreateForm" action="" class="stdform">
                        <p>
                            <label>淘宝订单ID</label>
                            <span class="field">
                            <input type="text" name="taobaoOrderId" class="longinput" title=""/>
                        </span>
                            <small class="desc">客户在淘宝上下单后，生成的淘宝订单ID</small>
                        </p>
                        <p>
                            <label>客户淘宝ID</label>
                            <span class="field">
                            <input type="text" name="customerTaobaoId" class="longinput" title=""/>
                        </span>
                            <small class="desc">对应客户的淘宝ID</small>
                        </p>
                        <p>
                            <label>明信片总张数</label>
                            <span class="field">
                            <input type="text" name="postCardCount" class="longinput" title=""/>
                        </span>
                            <small class="desc">客户订购的明信片的总张数</small>
                        </p>
                        <p id="orderStatusChoose">
                            <label>Radio Buttons</label>
                            <span class="formwrapper">
                            	<div class="radio">
                                    <span class="">
                                        <input type="radio" name="orderStatus" style="opacity: 0;" value="CREATE"/>
                                    </span>
                                </div> 创建状态 &nbsp; &nbsp;
                            	<div class="radio">
                                    <span class="">
                                        <input type="radio" name="orderStatus" style="opacity: 0;" value="CREATE"/>
                                    </span>
                                </div> Unchecked Radio &nbsp; &nbsp;
                            </span>
                        </p>


                        <!--<p>-->
                        <!--<label>订单状态</label>-->
                        <!--<span class="field">-->
                        <!--&lt;!&ndash;<select class="orderStatusChoose" title="订单状态" name="orderStatus">&ndash;&gt;-->
                        <!--<select name="orderStatus" id="selection" title="订单状态">-->
                        <!--&lt;!&ndash;suppress ThymeleafVariablesResolveInspection &ndash;&gt;-->
                        <!--<option th:each="state : ${T(com.soho.inko.database.constant.OrderStatusEnum).values()}"-->
                        <!--th:value="${state}"-->
                        <!--th:text="${state.desc}"></option>-->
                        <!--</select>-->
                        <!--</span>-->
                        <!--<small class="desc">对应客户的淘宝ID</small>-->
                        <!--</p>-->
                        <p class="stdformbutton">
                            <button class="submit radius2">提交订单</button>
                        </p>
                    </form>
                </div>


            </div><!-- #updates -->

            <div id="activities" class="subcontent" style="display: none;">
                &nbsp;
            </div><!-- #activities -->

        </div><!--contentwrapper-->

        <br clear="all"/>

    </div><!-- centercontent -->

</div><!--bodywrapper-->

</body>
</html>
