
.refreshButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: seagreen;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}





