<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()+'/'}"/>
    <title>404错误提示页面</title>
    <link rel="stylesheet" th:href="@{css/style.default.css}" type="text/css"/>
    <script type="text/javascript" th:src="@{js/plugins/jquery-1.7.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery-ui-1.8.16.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{js/plugins/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{js/custom/general.js}"></script>
</head>

<body>
<div class="bodywrapper">
    <!--
       =================================================================================
       =   从公共模板中获取顶部信息，参数：1：是否为错误页面，错误页面下面会有一条红线           =
       =================================================================================
       -->
    <div th:include="background/common/common::navigation_top(${'true'})"></div>


    <div class="contentwrapper padding10">
        <div class="errorwrapper error404">
            <div class="errorcontent">
                <!--/*@thymesVar id="message" type="java.lang.String"*/-->
                <!--/*@thymesVar id="error" type="java.lang.String"*/-->

                <!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
                <h1><span th:text="${status}"></span><span>服务器发生异常</span></h1>
                <h3>系统正在维护中</h3>

                <p><span th:text="${message}"></span></p>

                <!--<p><span th:text="${status}>">系统正在维护中,您可以执行以下操作</span></p>-->
                <ul>
                    <li>联系运维人员</li>
                    <li>执行其他操作</li>
                    <li>稍等片刻后，重新操作</li>
                </ul>
                <br/>
                <button class="stdbtn btn_black" onclick="history.back()">返回上一个页面</button>
                &nbsp;
                <button onclick="location.href='dashboard.html'" class="stdbtn btn_orange">返回主页</button>
            </div><!--errorcontent-->
        </div><!--errorwrapper-->
    </div>
</div><!--bodywrapper-->

</body>
</html>
