<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress HtmlPresentationalElement, JSUnresolvedVariable -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}+'/'"/>
    <title>Crown - premium responsive admin template for backend systems</title>
    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/webUploader.css}" rel="stylesheet" type="text/css"/>


    <style type="text/css">
        .envelopeDetailActive {
            background: none repeat scroll 0 0 #a9edf9;

        }

        #envelopeDetails tr:hover {
            background: none repeat scroll 0 0 #a9edf9;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" src="" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/spinner/ui.spinner.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/spinner/jquery.mousewheel.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/uniform.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.cleditor.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.validationEngine-en.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.validationEngine.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.tagsinput.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/autogrowtextarea.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.maskedinput.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.dualListBox.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.inputlimiter.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/chosen.jquery.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.form.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.form.wizard.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/datatable.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/tablesort.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/resizable.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.tipsy.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.collapsible.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.prettyPhoto.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.progress.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.timeentry.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.colorpicker.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.jgrowl.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.breadcrumbs.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.sourcerer.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/calendar.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/elfinder.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/webUploader/webuploader.html5only.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/custom.js}"></script>


    <!--<script type="text/javascript" src="" th:src="@{js/charts/chart.js}"></script>-->
    <script type="text/javascript" th:inline="JavaScript">
        var tokenId = [[${tokenId}]];
        var orderId = [[${orderId}]];
        var envelopeId = [[${envelopeId}]];
        var apiBasePath = [[${apiBasePath}]];
        var currentEnvelope;
        //        <![CDATA[
        $(function () {
            $("#dialog-message").dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                width: 500,
                buttons: {
                    保存: function () {
                        var data = {};
                        $('form[name="newEnvelopeForm"]').serializeArray().map(function (x) {
                            data[x.name] = x.value;
                        });
                        console.log(data);
                        $.ajax({
                            url: apiBasePath + '/order/' + orderId,
                            headers: tokenId,
                            type: 'post',
                            data: data,
//                            content: 'application/json',
                            success: function (result) {
                                switch (result.code) {
                                    case 200:
                                        $(this).dialog("close");
                                        loadOrderDetail();
                                }
                            },
                            error: function (result) {
                                console.log(result);
                            }
                        })
                    },
                    取消: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#addNewEnvelope").click(function () {
                $("form[name='newEnvelopeForm']").resetForm();
                $("#dialog-message").dialog("open");
                return false;
            });


            //启动的时候刷新数据
            loadOrderDetail();
            $('#orderListDetailRefreshButton').on('click', loadOrderDetail);
//          ajax请求后台数据库所有尺寸信息
            function loadOrderDetail() {
                console.log("==============================");
                //获取所有背景信息
                $.ajax({
                    url: apiBasePath + '/dictionary/cardBack',
                    type: 'get',
                    success: function (result) {
                        $('#backgroundSelect').html('');
                        $(result.body).each(function (index, data) {//添加到反面样式
                            $('#backgroundSelect')
                                .append($('<option>')
                                    .attr('value', data.id)//值为ID
                                    .attr('option', data.title)//title为内容
                                    .html(data.title)
                                );
                        })
                    }

                });


                $.ajax({
                    url: apiBasePath + '/order/' + orderId,
                    type: 'get',
                    success: function (result) {
                        switch (result.code) {
                            case 92:
                                window.location.reload();
                                break;
                            case 200:
                                var sizeList = result.body.envelopeEntities;
                                //当前没有记录的情况下，跳转到创建页面
//                                if ($(sizeList).size() == 0) {
//                                    window.location = 'background/order/' + orderId + '/new';
//                                } else {
                                    var $envelopeDetails = $('#envelopeDetails');
                                    $envelopeDetails.html("");
                                    $(sizeList).each(function (index, data) {
                                        $envelopeDetails.append(
                                            $('<tr>')
                                                .on('click', function () {
                                                    $(this)
                                                        .addClass('envelopeDetailActive')
                                                        .siblings().removeClass('envelopeDetailActive');
                                                    window.location = 'background/order/' + orderId + '/' + data.envelopeEntity.id;
                                                })
                                                //正面样式
                                                .append($('<td>')
                                                    .append($('<a>')
                                                        .attr('href', 'background/order/' + orderId + '/' + data.envelopeEntity.id)
                                                        .html(data.envelopeEntity.formatTypeId)))
                                                //反面板式
                                                .append($('<td>').html(data.envelopeEntity.backgroundId))
                                                //宽度
                                                .append($('<td>').html(data.envelopeEntity.productWidth))
                                                //高度
                                                .append($('<td>').html(data.envelopeEntity.productHeight))
                                                .append($('<td>')
                                                    .append($('<a href="javascript:void(0)" class="tipS" original-title="delete">')
                                                        .append('<img src="images/icons/remove.png" alt=""/>')
                                                        .attr('envelopeId', data.envelopeEntity.id)
                                                        .on('click', function () {
                                                            if (confirm('是否真的删除此明信片集合，删除后，此明信片集合下的所有明信片都将被删除?')) {
                                                                $.ajax({
                                                                        type: 'delete',
                                                                        headers: {
                                                                            tokenId: tokenId
                                                                        },
                                                                        url: apiBasePath + '/order/' + orderId + '/' + data.envelopeEntity.id,
                                                                        success: function (result) {
                                                                            switch (result.code) {
                                                                                case 200:
                                                                                    loadOrderDetail();
                                                                                    break;
                                                                                default:
                                                                                    break;
                                                                            }
                                                                        }
                                                                    }
                                                                )
                                                            }
                                                        })
                                                    )
                                                )

                                            //明信片相关操作
                                        );
//                                    console.log(this);
                                    });
//                                }
                                break;
                            default:
                                window.location = 'background/order';
                                break;
                        }
                    }
                });
                //获取所有尺寸信息
            }
        });
        //        ]]>
    </script>
</head>
<body>
<!--包含左侧边框-->
<div th:include="background/common/common::navigation_left(${'订单资料'},${'订单明细'})"></div>
<div id="rightSide">
    <!-- Top fixed navigation -->
    <div th:include="background/common/common::navigation_top"></div>

    <!--
    =======
    我的布局
    =======
    -->


    <div class="wrapper">

        <div class="uDialog">
            <div id="dialog-message" title="添加新的明信片集合">
                <!--<p><img src="" th:src="@{images/icons/color/tick.png}" alt="" class="icon"/>Your files have downloaded successfully into the My Downloads folder.</p>-->
                <!--<p>Currently using <strong>36% of your storage space</strong></p>-->

                <div class="uiForm">
                    <!--/*@thymesVar id="orderId" type="java.lang.String"*/-->
                    <form class="dialog" name="newEnvelopeForm">
                        <div class="formRow">
                            <table>
                                <tr style="height: 40px">
                                    <td style="width: 100px"><label>正面版式</label></td>
                                    <td>
                                        <select name="cardFormat" title="" id="formatSelect">
                                            <option value="1" selected="selected">A版</option>
                                            <option value="2">B版</option>
                                            <option value="3">C版</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr style="height: 40px">
                                    <td style="width: 100px"><label>背面图案</label></td>
                                    <td>
                                        <select name="cardBack" title="" id="backgroundSelect">
                                        </select>
                                    </td>
                                </tr>
                                <tr style="height: 40px">
                                    <td style="width: 100px"><label>裁切类型</label></td>
                                    <td>
                                        <select name="cropType" title="" id="cropType">
                                            <option selected="selected" value="CROP_AND_WHITE">自动</option>
                                            <option value="CROP">只留白边</option>
                                            <option value="WHITE">裁切，无白边</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr style="height: 40px">
                                    <td style="width: 100px"><label>成品宽度</label></td>
                                    <td><input name="width"/></td>
                                </tr>
                                <tr style="height: 40px">
                                    <td style="width: 100px"><label>成品高度</label></td>
                                    <td><input name="height"/></td>
                                </tr>
                                <tr style="height: 40px">
                                    <td style="width: 100px"><label>成品份数</label></td>
                                    <td><input name="copy" value="1"/></td>
                                </tr>
                                <tr style="height: 40px">
                                    <td style="width: 100px"><label>成品文件名称</label></td>
                                    <td><input name="productFileName"/></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <!--</div>-->

            <!-- Sample page content to illustrate the layering of the dialog -->
            <!--<a href="#" title="" class="button greyishB" id="opener" style="margin: 5px;"><span>Dialog with form elements</span></a>-->


        </div>
        <div class="widgets">
            <div class="oneThree">
                <div class="widget">
                    <div class="title">
                        <img src="" th:src="@{images/icons/dark/add.png}" alt="" class="titleIcon"/><h6>订单相关信息</h6>
                    </div>
                    <div class="body" style="display: block;height: 100px">
                    </div>
                </div>
            </div>
            <div class="twoOne">
                <div class="widget">
                    <div class="title">
                        <img src="" th:src="@{images/icons/dark/add.png}" alt="" class="titleIcon"/><h6>明信片集合信息</h6>
                        <div class="topIcons">
                            <!--<a id="" href="javascript:void(0);" class="tipS" original-title="Print invoice"><img src="" th:src="@{images/icons/printTop.png}" alt=""/></a>-->
                            <a id="addNewEnvelope" href="javascript:void(0);" class="tipS" original-title="添加新的集合"><img src="" th:src="@{images/icons/editTop.png}" alt=""/></a>
                        </div>
                    </div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="sTable">
                        <thead>
                        <tr>
                            <td width="80">正面版式</td>
                            <td width="80">反面版式</td>
                            <td width="80">成品宽度</td>
                            <td width="80">成品高度</td>
                            <td width="40">删除</td>
                        </tr>
                        </thead>
                        <tbody id="envelopeDetails">
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer line -->
    <div th:include="background/common/common::footer"></div>
</div>
<div class="clear"></div>
</body>
</html>