<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress HtmlPresentationalElement -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}+'/background'"/>
    <title>Crown - premium responsive admin template for backend systems</title>
    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/spinner/ui.spinner.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/spinner/jquery.mousewheel.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/charts/excanvas.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/charts/jquery.flot.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/charts/jquery.flot.orderBars.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/charts/jquery.flot.pie.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/charts/jquery.flot.resize.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/charts/jquery.sparkline.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/uniform.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.cleditor.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.validationEngine-en.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.validationEngine.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.tagsinput.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/autogrowtextarea.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.maskedinput.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.dualListBox.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/jquery.inputlimiter.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/forms/chosen.jquery.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.form.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/wizard/jquery.form.wizard.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/uploader/plupload.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/uploader/plupload.html5.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/uploader/plupload.html4.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/uploader/jquery.plupload.queue.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/datatable.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/tablesort.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/tables/resizable.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.tipsy.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.collapsible.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.prettyPhoto.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.progress.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.timeentry.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.colorpicker.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.jgrowl.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.breadcrumbs.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/ui/jquery.sourcerer.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/calendar.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/plugins/elfinder.min.js}"></script>
    <script type="text/javascript" src="" th:src="@{js/custom.js}"></script>
    <!--<script type="text/javascript" src="" th:src="@{js/charts/chart.js}"></script>-->
    <script type="text/javascript" th:inline="JavaScript">
        //        <![CDATA[
        $(function () {
            //启动的时候刷新数据
            loadData();
            //===== 绑定弹窗 =====//
            $("#dialog-message").dialog({
                autoOpen: false,
                modal: true,
                resizable: false,
                width: 400,
                buttons: {
                    保存: function () {
                        var $dialog_this = $(this);
                        var data = {};
                        $('form[name="newSizeForm"]').serializeArray().map(function (x) {
                            data[x.name] = x.value;
                        });
                        $.ajax({
                            url: 'http://localhost:8100/api/dictionary/size',
                            type: 'post',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
//                            content: 'application/json',
                            success: function (result) {
                                switch (result.code) {
                                    case 200:
                                        loadData();
                                        $("form[name='newSizeForm']").resetForm();
                                }
                            },
                            error: function (result) {
                                console.log(result);
                            }
                        })
                    },
                    取消: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#opener").click(function () {
                $("form[name='newSizeForm']").resetForm();
                $("#dialog-message").dialog("open");
                return false;
            });
            //刷新数据
            $('#sizeListDetailRefreshButton').on('click', loadData);
//          ajax请求后台数据库所有尺寸信息
            function loadData() {
                $.ajax({
                    url: 'http://localhost:8100/api/dictionary/size/',
                    type: 'get',
                    success: function (result) {
                        switch (result.code) {
                            case 92:
                                window.location.reload();
                                break;
                            case 200:
                                var sizeList = result.body;
//                                console.log(result.body);
                                var $sizeListDetail = $('#sizeListDetail');
                                $sizeListDetail.html("");
                                $(sizeList).each(function (index, data) {
                                    var rowClass = index % 2 == 0 ? 'odd' : 'even';
                                    $sizeListDetail.append(
                                        $('<tr>')
                                            .addClass(rowClass)
                                            .append($('<td colspan="1" rowspan="1">').html(data.name))
                                            //明信片宽度
                                            .append($('<td colspan="1" rowspan="1" class="center">').html(data.width))
                                            //明信片高度
                                            .append($('<td colspan="1" rowspan="1" class="center">').html(data.height))
                                            //明信片相关操作
                                            .append($('<td colspan="1" rowspan="1" class="actBtns">')
                                            //更新尺寸按钮
                                                .append($('<a href="javascript:void(0)" class="tipS" original-title="更新尺寸">')
                                                    .attr('sizeId', data.id)
                                                    .append('<img src="images/icons/edit.png" alt=""/>')
                                                    .on('click', function (data) {//TODO:添加响应更新对应操作
//                                                        console.log(data);
                                                        var a = confirm("是否确认删除此尺寸");
                                                        alert(a);
                                                    }))
                                                //删除尺寸按钮
                                                .append($('<a href="javascript:void(0)" class="tipS" original-title="删除尺寸">')
                                                        .append('<img src="images/icons/remove.png" alt=""/>')
                                                        .attr('sizeId', data.id)
                                                        .on('click', function (data) {
//                                                        console.log();
                                                            var sizeIdToBeRemove = $(data.currentTarget).attr("sizeId");
                                                            //询问是否真的删除此尺寸，如果点击是，执行ajax删除操作
                                                            if (confirm('是否删除此尺寸?')) {
                                                                $.ajax({
                                                                        type: 'delete',
                                                                        url: 'http://localhost:8100/api/dictionary/size/' + sizeIdToBeRemove,
                                                                        success: function (result) {
                                                                            switch (result.code) {
                                                                                case 200:
                                                                                    loadData();
                                                                                    break;
                                                                                default:
                                                                                    break;
                                                                            }
                                                                        }
                                                                    }
                                                                )
                                                            }
                                                        })
                                                )));
//                                    console.log(this);
                                });
                                break;
                            default:
//                                console.log(result);
                                break;
                        }
                    }
                })
            }

            $('#newSizeForm').on('submit', function () {
                console.log(this);
            })
        });
        //        ]]>
    </script>
</head>
<body>
<p shiro:guest="">
    你好UA
</p>
<!--包含左侧边框-->
<div th:include="background/common/common::navigation_left(${'设置'},${'明信片尺寸'})"></div>
<div id="rightSide">
    <!-- Top fixed navigation -->
    <div th:include="background/common/common::navigation_top"></div>
    <div class="statsRow">
        <div class="wrapper">
            <div class="controlB">
                <ul>
                    <li>
                        <a href="javascript:void(0)" title="" id="opener">
                            <img src="" th:src="@{images/icons/control/32/plus.png}" alt=""/><span>创建尺寸</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" id="sizeListDetailRefreshButton" title="">
                            <img src="" th:src="@{images/icons/control/32/database.png}" alt=""/><span>刷新列表</span>
                        </a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="line"></div>

    <!--
    =======
    我的布局
    =======
    -->


    <div class="wrapper">

        <!--<div class="widget">-->
        <!--<div class="title"><img src="" th:src="@{images/icons/dark/dialog.png}" alt="" class="titleIcon"/><h6>Dialogs</h6></div>-->
        <!--<div class="body textC">-->
        <div class="uDialog">
            <div id="dialog-message" title="创建新的明信片尺寸">
                <!--<p><img src="" th:src="@{images/icons/color/tick.png}" alt="" class="icon"/>Your files have downloaded successfully into the My Downloads folder.</p>-->
                <!--<p>Currently using <strong>36% of your storage space</strong></p>-->

                <div class="uiForm">
                    <form class="dialog" name="newSizeForm">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 100px;">尺寸名称　</td>
                                <td><input name="name" title="sizeName"/></td>
                            </tr>
                            <tr>
                                <td>尺寸宽度　</td>
                                <td><input name="width" title="sizeName"/></td>
                            </tr>
                            <tr>
                                <td>尺寸高度　</td>
                                <td><input name="height" title="sizeName"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <!--</div>-->

            <!-- Sample page content to illustrate the layering of the dialog -->
            <!--<a href="#" title="" class="button greyishB" id="opener" style="margin: 5px;"><span>Dialog with form elements</span></a>-->
        </div>
        <!--</div>-->


        <div class="widget">
            <div class="title"><img src="" th:src="@{images/icons/dark/full2.png}" alt="" class="titleIcon"/><h6>尺寸列表</h6></div>
            <table cellpadding="0" cellspacing="0" border="0" class="display sTable">
                <thead>
                <tr>
                    <!--<td>尺寸ID</td>-->
                    <td>尺寸名称</td>
                    <td>宽度</td>
                    <td>高度</td>
                    <td>相关操作</td>
                </tr>
                </thead>
                <tbody id="sizeListDetail">
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer line -->
    <div th:include="background/common/common::footer"></div>
</div>
<div class="clear"></div>
</body>
</html>