<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <base th:href="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}+'/'"/>
</head>


<!--
=============================================================================

左方导航栏

=============================================================================
-->
<div th:fragment="navigation_top(errorPage)">
    <div th:class="${errorPage?'topheader orangeborderbottom5':'topheader'}">
        <div class="left">
            <h1 class="logo">inko. <span>postcardTailor</span></h1>
            <span class="slogan">明信片处理系统</span>
            <br clear="all"/>
        </div><!--left-->

        <div class="right">
            <!--<div class="notification">
                <a class="count" href="notifications.html"><span>9</span></a>
            </div>
            -->
            <div shiro:user="" class="userinfo">
                <img th:src="@{images/thumbs/avatar.png}" alt=""/>
                <!--/*@thymesVar id="user" type="com.soho.inko.database.entity.UserEntity"*/-->
                <span th:text="${user.getTaoBaoId()}"></span>
            </div><!--userinfo-->

            <div shiro:user="" class="userinfodrop">
                <div class="avatar">
                    <a href=""><img th:src="@{images/thumbs/avatarbig.png}" alt=""/></a>
                    <div class="changeTheme">
                        <p>修改主题: </p>
                        <a class="default"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                        <a class="contrast"></a>
                        <a class="custombg"></a>
                    </div>
                </div><!--avatar-->
                <div class="userdata">
                    <h4>Juan Dela Cruz</h4>
                    <span class="email">youremail@yourdomain.com</span>
                    <ul>
                        <li><a th:href="@{editprofile.html}">Edit Profile</a></li>
                        <li><a th:href="@{accountsettings.html}">Account Settings</a></li>
                        <li><a th:href="@{help.html}">Help</a></li>
                        <li><a th:href="@{logout}">Sign Out</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
        </div><!--right-->
    </div><!--topheader-->
</div>


<!--
=============================================================================

主菜单

=============================================================================
-->
<div th:fragment="navigation_mainMenu(currentMenu)">
    <div class="header">
        <ul class="headermenu">
            <li th:class="${currentMenu=='订单中心'?'current':''}">
                <a th:href="@{order}"><span class="icon icon-flatscreen">
                </span>订单中心</a>
            </li>
            <li th:class="${currentMenu=='裁切中心'?'current':''}">
                <a th:href="@{order}"><span class="icon icon-pencil">
                </span>裁切中心</a>
            </li>
            <li th:class="${currentMenu=='消息中心'?'current':''}">
                <a th:href="@{order}"><span class="icon icon-message">
                </span>消息中心</a>
            </li>
            <li th:class="${currentMenu=='统计中心'?'current':''}">
                <a th:href="@{order}"><span class="icon icon-chart">
                </span>统计中心</a>
            </li>
        </ul>

        <div class="headerwidget">
            <div class="earnings">
                <div class="one_half">
                    <h4>Today's Earnings</h4>
                    <h2>$640.01</h2>
                </div><!--one_half-->
                <div class="one_half last alignright">
                    <h4>Current Rate</h4>
                    <h2>53%</h2>
                </div><!--one_half last-->
            </div><!--earnings-->
        </div><!--headerwidget-->

    </div><!--header-->
</div>

<!--
=============================================================================

左方导航栏(主分类、子分类)

=============================================================================
-->
<div th:fragment="navigation_left(category,subCategory)">
    <div class="vernav2 iconmenu">
        <ul>
            <li th:class="${category=='订单管理'?'current':''}">
                <a href="#orderSub" class="editor">订单管理</a>
                <span class="arrow"></span>
                <ul id="orderSub">
                    <li>
                        <a th:href="@{order/new}">创建订单</a>
                    </li>
                    <li th:class="${subCategory=='所有订单'?'current':''}">
                        <a th:href="@{order}">所有订单</a>
                    </li>
                </ul>
            </li>
            <li th:class="${category=='集合管理'?'current':''}">
                <a href="#formsub" class="element">集合管理</a>
                <span class="arrow"></span>
                <ul id="formsub">
                    <li><a href="forms.html">所有集合</a></li>
                    <li><a href="wizard.html">我的集合</a></li>
                </ul>
            </li>
        </ul>
        <a class="togglemenu"></a>
        <br/><br/>
    </div><!--leftmenu-->
</div>


<!--
=============================================================================

底部文字

=============================================================================
-->
<div th:fragment="footer">
    <div id="footer">本系统仅限于测试使用</div>
</div>
</html>